* {
  font-family: 'Ubuntu', sans-serif !important;
}
body {
  background-color: #fff;
}
#wrapper {
  min-height: 100vh;
}
#home-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url("../../images/home-img.jpg");
  background-position: center center;
  background-size: cover;
}
#bg-img {
  /* position: absolute; */
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#045157+0,4c7869+100 */
  background: #045157; /* Old browsers */
  background: -moz-linear-gradient(top, #045157 0%, #4c7869 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #045157 0%,#4c7869 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #045157 0%,#4c7869 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045157', endColorstr='#4c7869',GradientType=0 ); /* IE6-9 */
}

#wrapper {
  overflow: visible;
}
#nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  background: #5c88b3;
}
p {
  text-align: start;
}
.content {
  max-width: inherit;
}

#copyright {
  margin: 0;
  padding: 2rem;
  text-align: center;
  max-width: 100%;
}

#main>.posts>article {
  border-right: 2px solid #eee !important;
  border-bottom: 2px solid #eee !important;
  border-left-width: 0px !important;
  border-top-width: 0px !important;
}

.category-description {
  text-align: center;
}
#nav, #main {
  max-width: 2048px;
}
#main>* {
  padding: 2rem;
}
#main>.posts>* {
  padding: 2rem;
  width: calc(100% / 3);
}
.post-footer {
  margin: inherit;
}
table td {
  padding: 0px 2px;
}
table th {
  padding: 0.75rem 0;
}
@media screen and (max-width: 1024px) {
  #main>.posts>* {
    width: 50%;
  }
}
@media screen and (max-width: 736px) {
  #main>.posts>* {
    width: 100%;
  }
}